<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <% if current_admin? %>
          <th> Customer Name </th>
        <% end %>
        <% if current_admin? %>
          <th> Customer ID </th>
        <% end %>
        <th> Order Total </th>
        <th> Order Date </th>
        <th> Order Status </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr class="order_<%= order.id %>">
        <% if current_admin? %>
          <td> <%= order.customer.first_name %> <%= order.customer.last_name %> </td>
        <% end %>
        <% if current_admin? %>
          <td> <%= order.customer.id %> </td>
        <% end %>
        <td> <%= number_to_currency(order.total_price_in_dollars) %> </td>
        <td> <%= order.date %> </td>
        <td>
          <span class="status_<%= order.status_name.downcase %>">
            <%= order.status.name.capitalize %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
