<% @cart.items_with_quantities.each do |item, quantity| %>
  <div class="row">
    <div class="col-md-offset-2 col-md-2">
      <div class="thumbnail">
        <%= image_tag(item.image_url, alt: item.title) %>
      </div>
    </div>
    <div class="col-md-4" id="item_<%= item.id %>">
      <p><%= item.title %></p>
      <p><%= item.description %></p>
      <p><%= quantity %> x <%= number_to_currency(item.price_in_dollars) %>
      <%= link_to "-", cart_path(item_id: item.id), method: :delete, class: "minus" %>
      <%= link_to "+", cart_path(item_id: item.id), method: :post, class: "plus"%></p>
    <%= link_to "Remove", cart_path(item_id: item.id, :remove => "remove"), method: :delete, class: "button-delete" %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-offset-2 col-md-2">
    <h3>Subtotal:</h3>
  </div>
  <div class="col-md-4">
    <h3 class="text-right"><%= number_to_currency(@cart.total_price_in_dollars) %></h3>
    <% if current_customer? %>
      <h3 class="text-right">
        <%= link_to "Checkout", checkout_path, class: "button" %>
      </h3>
    <% else %>
      <p class="text-right"><%= link_to "Login", login_path, class: "button-login" %></p>
      <p class="text-right">Create Account to Checkout <%= link_to "Register", new_customer_path(:from_cart => "from_cart"), class: "button-account" %></p>
    <% end %>
  </div>
</div>
