<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/' %>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_YYTVO9YWWfA7F4HWX2KCL7wF');
    </script>
  </head>
  <body>
    <%= render partial: 'layouts/nav' %>
    <section class="main">
      <%= render partial: 'shared/errors' %>
      <%= render partial: 'shared/notices' %>
      <%= yield %>
    </section>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
