<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "View cart", cart_path %>
    <%= render partial: 'shared/notices' %>
    <%= render partial: 'shared/cart' %>
    <%= yield %>
  </body>
</html>
